
/* CONTAINER */
.itunes-box {
    display: flex;
    justify-content: center;
}
.itunes-list {
    width: 55%;
}

/* ITEMS */

.item {
    display: grid;
    grid-template-columns: 350px 1fr;
    height: 400px;
    width: auto;
    margin: 20px;
}

/* PHOTO */
.cover-photo img {
    display: block;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-width: 100%;
    width: 350px;
    height: auto;
}

/* ALL INFO */
.all-info {
    margin-left: 20px;
}

.all-info h4 {
    margin: 10px 0;
    font-size: 1.9rem;
}

.artist {
    margin: 0;
    font-size: 1.3rem;
    color: rgb(255, 45, 30);
    
}

.genre {
    color: gray;
    margin-top: 5px;
    margin-bottom: 15px;
}

.release {
    color: gray;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 0.95rem;
}

.release-span {
    color: rgb(88, 88, 88);
}

.rights {
    color: gray;
    margin: 0;
    font-size: 0.85rem;
}

.audio {
    /* border: 1px solid rgb(252, 222, 220); */
    border-radius: 30px; 
box-shadow: 0px 0px 8px 0px rgba(216, 154, 154, 0.781);
}

h1 {
    color: rgb(39, 39, 39);
    margin-left: 20px;
    font-size: 1.9em;
}

.h1-span {
    color: rgb(233, 135, 128);
    font-size: 1.2rem;
}

.hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


